.content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.content section{
  display: flex;
  flex-direction: column;
  width: 95%;
}

.content section main{
  padding-top: 30px;
  padding-left: 30px;
  flex-direction: column;
}

.content section main section{
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
  gap: 5%;
}

.content section main section .listValues{
  width: 50%;
}

.content section main section .listValues h1{
  text-align: center;  
}

.content section main section .listValues tr th{
  text-align: left;
}