header{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  padding: 15px;

  background-color: #3B8686;
  color: #FFF;
}

header h1{
  width: 90%;
}

header h3{
  margin-top: 6px;
  cursor: pointer;
  color: #FFF
}

.exit{
  text-decoration: none;
  color: inherit;
}