
.content section .mainContent{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 30px;

}

.limpezaForm{
  margin-top: 30px;
}

.limpezaTable{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.limpezaHeader{
  background-color: #cecece;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 40px;
  border-radius: 4px;
  justify-content: space-between;
  padding-inline: 60px;
  align-items: center;
}

.limpezaItem{
  background-color: #e7e7e7;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 40px;
  padding-inline: 40px;
  justify-content: space-between;
  align-items: center;
}

.editBtn{
  cursor: pointer;
  color: #3B8686;
}


.limpezaContentBox{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.newLimpeza{
  height: 40px;
  width: 10%;
  border: 5px;
  border-radius: 4px;
  color: #fff;
  background-color: #3B8686;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 90%;
  margin-top: 0;
  cursor: pointer;
}

.limpezaContentBox form{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.limpezaContentBox form input[type=number]{
  height: 40px;
  border-radius: 4px;
}
.limpezaContentBox form input[type=checkbox]{
  height: 20px;
  border-radius: 4px;
}

.limpezaRegisterBtn{
  height: 40px;
  width: 30%;
  border: 5px;
  border-radius: 4px;
  color: #fff;
  background-color: #3B8686;
}

.checkboxDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.labelCheckbox{
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.limpezaContentBox form input{
  height: 40px;
  border-radius: 4px;
}

.limpezaContentBox form input[type=text]{
  height: 40px;
  border-radius: 4px;
}